<h1 class="text-4xl bg-gradient-to-r from-red-700 via-orange-400 to-rose-400 bg-clip-text text-transparent text-center sm:text-start">Lotus Notes</h1>
<div class="w-full h-full flex flex-col lg:flex-row items-center justify-center">
	<div class="lg:flex-1 flex flex-col items-center lg:items-start">
		<p class="mt-2 text-gray-400 font-medium text-sm mb-2 text-center sm:text-start">
			Nunca fue tan fácil guardar tus notas
		</p>
		<p class="mt-6 text-gray-400 font-medium text-sm mb-2 text-center sm:text-start">
			Gestiona tus notas de manera fácil y rápida, con <span class="bg-gradient-to-r from-red-700 via-orange-400 to-rose-400 bg-clip-text text-transparent">Lotus Notes</span>
		</p>
		<a [routerLink]="['/notes']" class="bg-gray-700 hover:bg-gray-600 text-white px-4 py-2 rounded mt-8 hidden lg:block">Comenzar</a>
	</div>
	<figure class="flex flex-col items-center justify-center">
		<img src="/assets/images/notes.png" class="h-80 w-auto" alt="">
		<a [routerLink]="['/notes']" class="bg-gray-700 hover:bg-gray-600 text-white px-4 py-2 rounded block lg:hidden">Comenzar</a>
	</figure>
</div>